---
import { Image } from 'astro:assets';
import BlogPostLayout from "../layouts/BlogPostLayout.astro";
import SectionHeader from "../components/SectionHeader.astro";
import CallToAction from "../components/CallToAction.astro";
import {pageTag, pageDescription,aboutTdk} from '../data/content';
import myPortrait from "../assets/portrait.jpg";
---
<BlogPostLayout
	title={aboutTdk.title || ''}
	description = {aboutTdk.description || ''}
	keywords = {aboutTdk.keywords || ''}
>

	<div class="post">
		<main class="post-wrapper about">
			<SectionHeader
				tag={pageTag.about}
				description={pageDescription.about}>
				 关于我
			</SectionHeader>
			<section class="border-top" style="padding-top: 2rem;">
				<div class="content">
					<div>
						<Image src={myPortrait} alt="portrait" width="88" height="88" class="portrait">
					</div>
					<p>
						我是 <strong style="font-size:1.2em">陈熙</strong>， 一名设计师和创意开发者，专注于网页视觉的技术实现，以及探索视觉上的奇思妙想。
					</p>
					<p>
						目前我在积极的创作一些作品，做有趣和创意性的东西，这时候，我觉得工作中最快乐。
					</p>

				</div>
			</section>
			<section>
				<h3 class="post-title">工作之外</h3>
				<div class="content">
					<p>
						除了日常工作之外，我喜欢将部分空闲时间投入到各种项目中，比如为我的个人网站添加功能，研究设计和编程，探索各种视觉技术实现的可能性。此外，我喜欢咖啡，是一个浅薄的美式爱好者，喜欢尝试各种咖啡豆的奇妙风味，以及研究一些奇奇怪怪的意式浓缩咖啡配方..。
					</p>
					<p>或者，有空我可以请你喝上一杯我自己的调配的咖啡...</p>
					<p style="margin-top:24px;">
						<CallToAction
						target="_self"
						href="mailto:hello@uiineed.com"
						>
							联系我
						</CallToAction>
					</p>
				</div>
			</section>
			<p></p>
			<p></p>
		</main>
	</div>
</BlogPostLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		margin:0 auto;
	}
	p{
		margin:0.75rem 0;
	}
	figure{
		margin:2rem 0;
	}
	img{max-width: 100%;}
	.portrait{
		border-radius: 100px;
		margin:12px 0 12px;
		overflow: hidden;
		text-align: left;
	}
	a, a:link{
		color:var(--color-blue);
	}
</style>
